ol {
  list-style: decimal;
  padding-left: 30px;
}

hr {
    border-top: none;
    margin: 3px;
}

th {
    font-weight: bold;
    text-align: center;
}

thead tr th:first-child {
    text-align: left;
}

tbody tr {
    border-top: 1px solid #dadada;
}

tbody td {
    text-align: center;
}

tbody tr td:first-child {
    text-align: left;
}

/* Overrides */
#content header .fa {
    margin-right: 10px;
}

/* General */
.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.cite {
    text-align: right;
}

.image {
    display: block;
    max-width: 100%;
}

@media (min-width: 825px) {
    .image {
        margin: 30px auto;
        width: 65%;
    }
}

.info {
    font-size: 1.6em;
}

/* Accordion */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #6f1d07;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}
.tab label .name {
    font-size: 1.2em;
}
.tab label .position {
    font-weight: 100;
}
.tab-content {
    display: none;
  background: rgba(111, 29, 7, 0.84);
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  text-align: justify;
  padding: 10px 0;
}
.tab-content p {
  margin: 1em;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
input[type=checkbox] + label::after {
  content: "+";
}
input[type=radio] + label::after {
  content: "\25BC";
}
input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}

/* Block */
.block {
  background-color: #f8f8f8;
  padding: 20px 30px;
  margin: 10px 0 30px 0;
  box-shadow: 0px 1px 2px #bababa;
}

.block p {
    margin: 0;
}

.block h4 {
  font-weight: bold;
}

.block-hero {
    font-size: 1.3em;
    line-height: 1.6;
}

/* YouTube iframe */
iframe.yt-video {
  display: block;
  width: 100%;
  height: 680px;
  margin: 35px auto;
}

/* */
.items {
  display: block;
}

.items li {
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-left: solid 4px rgba(0, 0, 0, 0.25);
  padding: 1.75em 2.5em 1.75em 2.5em;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

#intro > p {
  color: #898989;
}

article {
  text-align: justify;
}

/* Slider */
.slider {
    margin: 35px 0;
}

.slider-item img {
    width: 450px;
}

.slick-prev:before, .slick-next:before {
    color: #454545 !important;
}

/* Gallery preview */
.gallery-preview {
    position: relative;
    width: 400px;
    border: 1px solid #dfdfdf;
    border-bottom: 4px solid #dadada;
    margin: 20px auto;
}

.gallery-preview img {
    opacity: 1;
    display: block;
    width: 398px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
}

.gp-content {
    padding: 10px 30px;
    transition: .5s ease;
}

.gp-content h1 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 18px 0;
}

.gp-content p {
    line-height: 1.5;
}

.gp-content .fa {
    margin-right: 8px;
}

.gp-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.gp-button .fa {
    background-color: #454545;
    color: #fff;
    font-size: 2.3em;
    cursor: pointer;
    padding: 20px;
    border-radius: 30px;
    transition: .3s ease;
}

.gp-button .fa:hover {
    background-color: #000;
}

.gallery-preview:hover img, .gallery-preview:hover .gp-content {
  opacity: 0.3;
}

.gallery-preview:hover .gp-overlay {
  opacity: 1;
}

/* Gallery */
#gallery, .gallery {
  display: none;
}

/* Card */
.cards {
  margin: 0 auto;
}

.cards .card {
  margin-right: 10px;
}

.cards .card:last-child {
  margin-right: 0;
}

.card {
  margin-bottom: 30px;
  border-radius: 0 0 7px 7px;
  box-shadow: 0 1px 2px #898989;
  padding: 0;
  width: 100%;
}

.card-image a {
  text-decoration: none;
  border: none;
}

.card-image img {
  width: 100%;
}

.card-header {
  padding: 10px 15px;
  margin: 0;
}

.card-header h3 {
  font-weight: 900;
}

.card-header p {
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

.card-content {
  text-align: justify;
  padding: 10px 15px;
}

.card-actions {
  text-align: center;
  padding: 20px 15px;
}

.card-actions ul {
    margin-bottom: 0;
}

.card-actions .button {
  display: block;
}

.card-actions ul {
  padding-left: 30px;
}

.card-actions ul li {
  list-style: circle;
  text-align: left;
}

@media (min-width: 825px) {
  .cards {
    text-align: center;
  }

  .card {
      display: inline-block;
      vertical-align: top;
      width: 40%;
  }
}

/* Google Maps */
#map {
  height: 600px;
  width: 100%;
  margin-bottom: 40px;
}
