/* General */
.text-center {
  text-align: center;
}

.cite {
  text-align: right;
}

.block {
  background-color: #f8f8f8;
  padding: 20px 30px;
  margin: 10px 0 30px 0;
  box-shadow: 0px 1px 2px #bababa;
}

iframe.yt-video {
  display: block;
  width: 100%;
  height: 680px;
  margin: 35px auto;
}

/* */
.items {
  display: block;
}

.items li {
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-left: solid 4px rgba(0, 0, 0, 0.25);
  padding: 1.75em 2.5em 1.75em 2.5em;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

#intro > p {
  color: #898989;
}

article {
  text-align: justify;
}

/* Card */
.cards .card {
  margin-right: 10px;
}

.cards .card:last-child {
  margin: 0;
}

.inner-cards {
  width: 100%;
}

.card {
  border-radius: 0 0 7px 7px;
  box-shadow: 0 1px 2px #898989;
  padding: 0;
  width: 30%;
}

.card-image a {
  text-decoration: none;
  border: none;
}

.card-image img {
  width: 100%;
}

.card-header {
  padding: 10px 15px;
  margin: 0;
}

.card-header h3 {
  font-weight: 900;
}

.card-header p {
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

.card-content {
  text-align: justify;
  padding: 10px 15px;
}

/* Google Maps */
#map {
  height: 600px;
  width: 100%;
  margin-bottom: 40px;
}
