.items {
  display: block;
}

.items li {
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-left: solid 4px rgba(0, 0, 0, 0.25);
  padding: 1.75em 2.5em 1.75em 2.5em;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.items li:first-child {

}

.items li:last-child {

}
