@import url("https://fonts.googleapis.com/css?family=Cinzel|Crimson+Text:400,600");

body, input, textarea, select {
  font-family: 'Crimson Text', serif;
}

a:hover {
  color: #419873;
}

#diw18-promo-logo-1 {
  display: block;
  position: fixed;
  top: 60px;
  left: -43px;
  z-index: 99999;
  -ms-transform: rotate(140deg); /* IE 9 */
  -webkit-transform: rotate(140deg); /* Safari */
  transform: rotate(140deg);
}

#diw18-promo-logo-2 {
  display: block;
  position: fixed;
  top: 320px;
  right: -47px;
  z-index: 99999;
  -ms-transform: rotate(-30deg); /* IE 9 */
  -webkit-transform: rotate(-30deg); /* Safari */
  transform: rotate(-30deg);
}

#nav {
  background: #419872d8;
}

#nav ul li a {
  color: #fafafa;
}

#promo-wrapper {
  background: -o-linear-gradient(to right, #419873, #52BF90);
  background: -moz-linear-gradient(to right, #419873, #52BF90);
  background: -webkit-linear-gradient(to right, #419873, #52BF90);
  background: linear-gradient(to right, #419873, #52BF90);
}

#footer-wrapper {
  background: -o-linear-gradient(to right, #419873, #52BF90);
  background: -moz-linear-gradient(to right, #419873, #52BF90);
  background: -webkit-linear-gradient(to right, #419873, #52BF90);
  background: linear-gradient(to right, #419873, #52BF90);
}

#footer-wrapper * {
  color: #fff;
}

#footer-wrapper h2 {
  text-shadow: 0px 1px 1px #565656;
}

header > p {
  color: #419873;
}
